.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      Search and Score Recipes/Foods by
    %ul
      %li Name and Ingredients
      %li Allergens (gluten free, nuts, etc)
      %li Food Preferences (meatarian, vegetarian, vegan, paleo, etc)
      %li Main Ingredients
      %li Meal Time (Breakfast, Lunch, Dinner ..)
      %li Cooking Time
    %p
.card
  .card-body
    .card-text
      = render 'recipes/filter_form'
      = render 'recipes/index'


