.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      Import Foods
    %ul
      %li Done via an API call that notifies the application of a new set of foods
      %li Create a set of existing foods, and new foods
      %li Existing foods are automatically scored
      %li New foods are marked as new for assisted curation.

