.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      Personalization
    %ul
      %li Supports food logging
      %li
        Personalized goals, such as:
        %ul
          %li nutrient goals
          %li restrictions
          %li medications, etc
      %li Recommendations on what to eat next based on what you have eaten.
.card
  .card-body
    .card-title
      %i.bi.bi-x-circle.text-danger
        Food logging modes would need to include image recognition of common foods
    .card-text

