.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      The demo is intended to help demonstrate the possibilities of
      our clinically proven nutrition algorithms (our IP)
      coupled with the power of AI.
    %ul
      %li Scoring hundreds of thousands of foods and recipes without requiring food logging.
      %li Personalized recommendations and food logging for clinical patients
      %li Nutrition advice
    %p
      All of this is provided by several groups of APIs, so that users of the Nutri-Noodle can pick and choose to suit their use case.
