.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      The food scoring application supports
    %ul
      %li Scoring hundreds of thousands of foods and recipes
      %li For a limited number of profiles AKA segments
      %li An API for finding recipes and returning scores for them
      %li Ditto for foods.
    %p
      with an rich workflow for classifying foods into food groups and creating
      custom scoring rules within each food group
.card
  .card-body
    .card-title
      %i.bi.bi-x-circle.text-danger
      The food scoring application does not support
    %ul
      %li Per person customization
      %li Food Logging
      %li meal planning
