.relative{"data-hovercard-target" => "card"}
  .absolute.bottom-8.left-0.z-50.bg-white.shadow-lg.rounded-lg.p-2.min-w-max-content{"data-tooltip-arrow" => ""}
    .flex.space-x-3.items-center.w-64
      .flex.flex-col
        %span.flex.text-sm.text-gray-500
          This is your personalized food score for #{@food.pretty_name}

