.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.time-date {
  color: #747474;
  display: block;
  font-size: 12px;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.message {
  overflow:hidden; margin:26px 0 26px;
}

.message p,pre {
  padding: 20px;
}

.incoming-message pre {
  background: #dcf6fe none repeat scroll 0 0;
  border-radius: 20px 20px 3px 20px;
  float: right;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.outgoing-message p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 20px 20px 20px 3px;

}
