.card
  .card-body
    .card-title
      %i.bi.bi-check-circle.text-success
      Food Groups
    %ul
      %li Groups related foods together
      %li Allows for customized weights per profile
      %li This addresses the "chicken doesn't have fiber issue"
      %li Each food group has a max score - a “ceiling”
      %li Every food group has a sister food group with “added-sugar”
.card
  .card-body
    .card-title
      %i.bi.bi-x-circle.text-danger
        Must be provided with a profile in order to return a score.
    .card-text
      MHL

